params {
    outdir = "output/"
    publish_dir_mode = "copy"
    enable_conda = false
    singularity_pull_docker_container = false
}

process {
  cpus = 2
  memory = 3.GB
  time = 2.h
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    docker {
        process.container      = 'hladocker:latest'
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
    }
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

manifest {
  nextflowVersion = '!>=21.04.0'
}
