/*
========================================================================================
    Nextflow config file for iGenomes paths
========================================================================================
    Defines reference genomes using iGenome paths.
    Can be used by any config that customises the base path using:
        $params.igenomes_base / --igenomes_base
----------------------------------------------------------------------------------------
*/

params {
    genomes {
        'GRCh37' {
            fasta               = "${params.refDir}/hg19/Homo_sapiens_assembly19.fasta"
            fasta_fai           = "${params.refDir}/hg19/Homo_sapiens_assembly19.fasta.fai"
            star_index          = "${params.refDir}/hg19/STARIndex/"
            gtf                 = "${params.refDir}/hg19/Homo_sapiens.GRCh37.87.gtf"
            bwa                 = "${params.refDir}/hg19/Homo_sapiens_assembly19.fasta.64.{amb,ann,bwt,pac,sa}"
            dict                = "${params.refDir}/hg19/Homo_sapiens_assembly19.dict"
            germline            = "${params.refDir}/hg19/af-only-gnomad.raw.sites.vcf"
            germline_index      = "${params.refDir}/hg19/af-only-gnomad.raw.sites.vcf.idx"
            dbsnp               = "${params.refDir}/hg19/dbsnp_138.b37.vcf.gz"
            dbsnp_index         = "${params.refDir}/hg19/dbsnp_138.b37.vcf.gz.tbi"
            intervals           = null
            known_indels        = "${params.refDir}/hg19/{1000G_phase1.snps.high_confidence,Mills_and_1000G_gold_standard.indels}.b37.vcf.gz"
            known_indels_index  = "${params.refDir}/hg19/{1000G_phase1.snps.high_confidence,Mills_and_1000G_gold_standard.indels}.b37.vcf.gz.tbi"
            vep_cache_version   = "102"
            vep_genome          = 'GRCh37'
            pon                 = "${params.refDir}/hg19/Mutect2-exome-panel.vcf"
            pon_index           = "${params.refDir}/hg19/Mutect2-exome-panel.vcf.idx"
            hla_reference_dna   = "${params.refDir}/hla_reference/hla_reference_dna.fasta"
            hla_reference_rna   = "${params.refDir}/hla_reference/hla_reference_rna.fasta"
            mito_name           = "MT"
            macs_gsize          = "2.7e9"
        }
        'GRCh38' {
            fasta               = "${params.refDir}/hg38/Homo_sapiens_assembly38.fasta"
            fasta_fai           = "${params.refDir}/hg38/Homo_sapiens_assembly38.fasta.fai"
            bwa                 = "${params.refDir}/hg38/Homo_sapiens_assembly38.fasta.{amb,ann,bwt,pac,sa}"
            dict                = "${params.refDir}/hg38/Homo_sapiens_assembly38.dict"
            germline            = "${params.refDir}/hg38/af-only-gnomad.hg38.vcf.gz"
            germline_index      = "${params.refDir}/hg38/af-only-gnomad.hg38.vcf.gz.tbi"
            dbsnp               = "${params.refDir}/hg38/Homo_sapiens_assembly38.dbsnp138.vcf"
            dbsnp_index         = "${params.refDir}/hg38/Homo_sapiens_assembly38.dbsnp138.vcf.idx"
            intervals           = null
            known_indels        = "${params.refDir}/hg38/{1000G_phase1.snps.high_confidence,Mills_and_1000G_gold_standard.indels}.hg38.vcf.gz"
            known_indels_index  = "${params.refDir}/hg38/{1000G_phase1.snps.high_confidence,Mills_and_1000G_gold_standard.indels}.hg38.vcf.gz.tbi"
            vep_cache_version   = "104"
            pon                 = "${params.refDir}/hg38/1000g_pon.hg38.vcf.gz"
            pon_index           = "${params.refDir}/hg38/1000g_pon.hg38.vcf.gz.tbi"
            hla_reference       = "${params.refDir}/hla_reference/hla_reference_dna.fasta"
            mito_name   = "chrM"
            macs_gsize  = "2.7e9"
        }
    }
}
